@font-face {
    font-family: 'reg';
    src: url("fonts/3-Helvetica Now Display/HelveticaNowDisplay-Regular.otf");
}
*{
    font-family: "reg";
}
/* Market tabs */
.tabb {
    overflow: hidden;
    background-color: #f1f1f1;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 25px;
}

/* Style the buttons inside the tab (individual markets) */
.normal {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 14px;
    transition: 0.3s;
    font-size: 15px;
}

.selected{
    background-color: #d7f3dc;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 14px;
    transition: 0.3s;
    font-size: 15px;

}

/* Change background color of buttons on hover */
.tabb input[type="submit"]:hover {
    background-color: #a5e4af;
    font-weight:bold;
}

/* Create an active/current tablink class */
.tabb input[type="submit"].active {
    background-color: #009345;
}

/* Make sure content never touches edge of screen */
body{
    margin: 20px;
}

#logintable tr, #logintable td, #logintable th{
    padding: 7px 10px 3px 0;
}

/* Design specific to the table on the home page */
#hometable table, #hometable th, #hometable td{
    border: none;
    padding: 5px 20px 5px 0px;
    margin:20px 0px;
}

/* Design specific to the table on the portfolio page */
#ptable td, #ptable th{
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 10px;
    width:12.5%;
    text-align: center;
    font-size:16px;
}

#ptable{
    border: 1px solid gray;
    border-collapse: collapse;
    width: 100%;
}

/* Design specific to the table on the income page */
#itable td, #itable th{
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size:16px;
}

#itable{
    border: 1px solid lightgray;
    border-collapse: collapse;
    width: 100%;
    display:block;
    overflow-x:auto;
    table-layout:fixed;
}

#itable tbody{
    display: table;
    width: 100%;
}

/* Design specific to the pagination table */
.pag{
    border:none;
    border-spacing: 0;
    padding: 10px 20px 10px 0px;
    border-spacing: 10px 0px;
}

.pag td{
    border: 1px solid gray;
    padding: 10px 15px;
    border-radius: 5px;
}

.pag td:hover{
    font-weight:bold;
    background-color:  #f1f1f1;
}

.wrappag{
    margin: 0 -10px; overflow:hidden;
}

/* Top navigation bar */
.nav{
    overflow:hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Links inside navigation bar */
.nav a{
    display: inline-block;
    text-align: center;
    padding: 5px 14px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.nav a:hover{
    font-weight:bold;
}


/* Div around navigation bar */
.navoverall{
    display: flex;
    justify-content: space-between;
}

/* Logout button */
.logout{
    border: 1px solid black;
    border-radius: 8px;
    padding:5px 15px;
    text-align: right;
    margin:0;
    cursor: pointer;
}

.logout:hover{
    background-color: black;
    color:white;
}

/* SERA logo */
.sera{
    text-align:left;
    padding:0;
    margin:0;
    font-weight: bold;
}

.sera:hover{
    background-color: lavender;
}

/* Colours to differentiate past / upcoming / estimated dividends (income page) */
.past{
    background-color: lightgreen;
}

.upcoming{
    background-color: #FAFA9B;
}

.estimated{
    background-color: #FFA979;
}

/* CSV template download button */
.csvlink{
    border: 2px solid black;
    border-radius: 20px;
    padding:10px 17px;
    background-color: black;
    color:white;
    font-size: 15px;
    margin: 0 0 0 20px;
}

.csvlink:hover{
    background-color:white;
    color:black;
    cursor:pointer;
}

/* Profile page */
.profilediv{
    text-align: left;
    padding: 17px 0;
    display: table;
    font-size:17px;
    vertical-align: middle;

}

/* Alert for updates to profile */
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin: 15px 0;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff5c5c;}

/* Design for buttons on profile page */
.btn {
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 12px;
    padding: 8px 15px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.btn:hover {
    background-color: white;
    color: black;
}

/* Loading animation */
.loader {
    margin: 0 auto;
    vertical-align:middle;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #caefd0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display:none;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}